body {
  background-color: #ffcc99;
  font-size: 20px;
  text-align: center;
  color: white;
  font-family: arial;
}

h1 {
  font-size: 40px;
  color: white;
  font-family: cursive;
  text-align: center;

}
