body {
  background-color: violet;
  width: 500px;
  margin: auto;
  font-family: arial;
}

p {
font-family: times;
font-size: 20px;

}

h1 {
  text-align: center;
  border:
  font-size: 60px;
  color: white;

}
